jupyter
jupyterlab
ipywidgets
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
sympy
cython
patsy
statsmodels
cloudpickle
dill
numba
bokeh
sqlalchemy
vincent
beautifulsoup4
protobuf
xlrd
tensorflow
keras
rpy2
plotly
dash
dash-renderer
dash-html-components
dash-core-components
pystan
selenium==3.8
tweepy
nltk
jupyterlab-git
