bash_kernel
beautifulsoup4
black
bokeh
bonobo
cloudpickle
cython
dask
dill
eli5
flake8
ipywidgets
jupyter
jupyterlab
jupyterlab_code_formatter
jupytext
keras
lightgbm
lime
matplotlib
mypy
nbconvert
networkx
nltk
numba
numexpr
pandas
patsy
plotly
protobuf
pylint
pystan
rpy2
scikit-learn
scipy
scrapy
seaborn
selenium
shap
spacy
sqlalchemy
statsmodels
sympy
tensorflow
tweepy
vincent
xgboost
xlrd