setuptools>=41.0.0
six>=1.12
cryptography>=2.3
altair
bash_kernel
beautifulsoup4
black
bonobo
cython
datatable
eli5
flake8
ipython-sql
ipywidgets
jupyter
jupyterlab
jupyterlab_code_formatter
jupyterlab-git
jupyterlab_sql
jupytext
keras
lightgbm
lime
matplotlib
mypy
nbconvert
networkx
nltk
numba
numexpr
pandas
patsy
plotly
protobuf
psycopg2
pylint
rpy2
scikit-learn
scipy
scrapy
seaborn
selenium
shap
spacy
sqlalchemy
statsmodels
sympy
tensorflow
tweepy
vincent
xgboost
xlrd