## don't include pygobject
absl-py==0.6.1
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.0.2
bokeh==1.0.2
bonobo==0.6.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.3.9
cryptography==2.4.2
cycler==0.10.0
Cython==0.29.2
dash==0.35.0
dash-core-components==0.42.0
dash-html-components==0.13.4
dash-renderer==0.16.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
entrypoints==0.2.3
Flask==1.0.2
Flask-Compress==1.4.0
fs==2.2.0
gast==0.2.0
graphviz==0.8.4
grpcio==1.17.1
h5py==2.9.0
html5lib==1.0.1
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.2
jeepney==0.4
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-git==0.5.0
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lightgbm==2.2.2
llvmlite==0.26.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
mondrian==0.8.0
mpmath==1.1.0
mysql==0.0.2
mysqlclient==1.3.14
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nltk==3.4
notebook==5.7.4
numba==0.41.0
numexpr==2.6.9
numpy==1.15.4
oauthlib==2.1.0
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plotly==3.4.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
psutil==5.4.8
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
pycparser==2.19
pycrypto==2.6.1
Pygments==2.3.1
pyodbc==4.0.25
pyparsing==2.3.0
PySocks==1.6.8
pystan==2.18.1.0
python-apt==1.6.3
python-dateutil==2.7.5
python-debian==0.1.33
python-slugify==1.2.6
pytz==2018.7
pyxdg==0.26
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.21.0
requests-oauthlib==1.0.0
retrying==1.3.3
rpy2==2.9.5
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
SecretStorage==3.1.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.2.15
statsmodels==0.9.0
stevedore==1.30.0
sympy==1.3
tensorboard==1.12.1
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
tweepy==3.7.0
Unidecode==1.0.23
urllib3==1.24.1
vincent==0.4.4
virtualenv==16.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whistle==1.0.1
widgetsnbextension==3.4.2
xgboost==0.81
xlrd==1.2.0
xonsh==0.8.7
jupyterlab_code_formatter
black
