# ERROR: astroid 2.3.1 has requirement six==1.12, but you'll have six 1.11.0 which is incompatible.
# ERROR: pyopenssl 19.0.0 has requirement cryptography>=2.3, but you'll have cryptography 2.1.4 which is incompatible.
# ERROR: tensorboard 2.0.0 has requirement setuptools>=41.0.0, but you'll have setuptools 39.0.1 which is incompatible.

setuptools>=41.0.0
six>=1.12
cryptography>=2.3
altair
bash_kernel
beautifulsoup4
black
bonobo
cython
datatable
eli5
flake8
ipython-sql
ipywidgets
jupyter
jupyterlab
jupyterlab_code_formatter
jupyterlab-git
jupyterlab_sql
jupytext
keras
lightgbm
lime
matplotlib
mypy
nbconvert
networkx
nltk
numba
numexpr
pandas
patsy
plotly
protobuf
psycopg2
pylint
rpy2
scikit-learn
scipy
scrapy
seaborn
selenium
shap
spacy
sqlalchemy
statsmodels
sympy
tensorflow
tweepy
vincent
xgboost
xlrd
radian